# vnev
.vscode/
.venv/
chap2/
chap3/
chap4/
chap5/
chap6/
chap7/
chap8/
chap9/
chap10/
chap11/

2.Chapter02/nltk_data/
4.Chapter04/KantaiBERT/
*.zip
english_vocab.pkl
french_vocab.pkl
English.pkl
French.pkl
